<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="authenticKey">
            <h2><span>Authentic Key</span> {{authenticKey.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Unique Key</span></dt>
                <dd>
                    <span>{{authenticKey.uniqueKey}}</span>
                </dd>
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{authenticKey.productId}}</span>
                </dd>
                <dt><span>Assignment Status</span></dt>
                <dd>
                    <span>{{authenticKey.assignmentStatus}}</span>
                </dd>
                <dt><span>Valid Status</span></dt>
                <dd>
                    <span>{{authenticKey.validStatus}}</span>
                </dd>
                <dt><span>Product Details</span></dt>
                <dd>
                    <div *ngIf="authenticKey.productDetails">
                        <a [routerLink]="['/product-details', authenticKey.productDetails?.id, 'view']">{{authenticKey.productDetails?.productId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/authentic-key', authenticKey.id, 'edit']"
                    class="btn btn-primary" disabled>
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
