<div>
    <h2 id="page-heading">
        <span>Secret Keys</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-secret-key" [routerLink]="['/secret-key/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Secret Key
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="secretKeys">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Unique Id</span></th>
            <th><span>Manu Id</span></th>
            <th><span>Assignment Status</span></th>
            <th><span>Valid Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let secretKey of secretKeys ;trackBy: trackId">
                <td><a [routerLink]="['/secret-key', secretKey.id, 'view' ]">{{secretKey.id}}</a></td>
                <td>{{secretKey.uniqueId}}</td>
                <td>{{secretKey.manuId}}</td>
                <td>{{secretKey.assignmentStatus}}</td>
                <td>{{secretKey.validStatus}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/secret-key', secretKey.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/secret-key', secretKey.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'secret-key/'+ secretKey.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
