<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="secretKey">
            <h2><span>Secret Key</span> {{secretKey.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Unique Id</span></dt>
                <dd>
                    <span>{{secretKey.uniqueId}}</span>
                </dd>
                <dt><span>Manu Id</span></dt>
                <dd>
                    <span>{{secretKey.manuId}}</span>
                </dd>
                <dt><span>Assignment Status</span></dt>
                <dd>
                    <span>{{secretKey.assignmentStatus}}</span>
                </dd>
                <dt><span>Valid Status</span></dt>
                <dd>
                    <span>{{secretKey.validStatus}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/secret-key', secretKey.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
