<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Name</span></dt>
                <dd>
                    <span>{{product.productName}}</span>
                </dd>
                <dt><span>Manu Id</span></dt>
                <dd>
                    <span>{{product.manuId}}</span>
                </dd>
                <dt><span>Manu Name</span></dt>
                <dd>
                    <span>{{product.manuName}}</span>
                </dd>
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{product.productId}}</span>
                </dd>
                <dt><span>Secret Key</span></dt>
                <dd>
                    <div *ngIf="product.secretKey">
                        <a [routerLink]="['/secret-key', product.secretKey?.id, 'view']">{{product.secretKey?.uniqueId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
